:root {
    --primary-text-color:  #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --footer-color-60: rgba(255, 255, 255, 0.6);
    --footer-color: #000000;
    --secondary-title-color: #ffffff;
    --button-background-color: #F5F4FA;
    --background-color: color #F5F5F5;
    --background-color-dark: color #2F303A;
}
.body {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    }
.logo-web {
    text-decoration: none;
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.colortext-black {
    color:var(--footer-color);
    /*logo <span>*/
}
.colortext-white {
    color:var(--secondary-title-color);
}
.site-nav {
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-active {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav:hover,
.site-nav:focus,
.site-nav:active {
    color: var(--accent-color);
}
.auth-nav {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.auth-nav:hover,
.auth-nav:focus,
.auth-nav:active {
    color: var(--accent-color);
}
.button-index,
.button-index:hover,
.button-index:focus,
.button-index:active {
    text-decoration: none;
    background-color: var(--accent-color);
    color: var(--secondary-title-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    width: 216px;
    height: 50px;
    left: 692px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.85;
}
.hero {
    height: 600px;
    background-color: #2F303A;
    text-align: center;
}
.hero-title {
    color: var(--secondary-title-color);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.index-title0 {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.index-title1 {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.index-text1 {
    line-height: 1.71;
}
.section-team {
    height: 648px;
    background-color: var(--button-background-color);
    flex-flow: row nowrap;
}
.index-title2 {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.index-text2 {
    font-size:16px;
    line-height: 1.19;
}
.footer {
    height: 252px;
    background-color: #2F303A;
}
.text-footer {
    text-decoration: none;
    color: var(--secondary-title-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}
.text-footer:focus,
.text-footer:hover,
.text-footer:active {
    color: var(--accent-color);
}
.text-footer60 {
    text-decoration: none;
    color: var(--footer-color-60);
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
}
.text-footer60:focus,
.text-footer60:hover,
.text-footer60:active {
    color: var(--accent-color);
}
.button-portfolio {
    background-color: var(--button-background-color);
    color: var(--title-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}
.button-portfolio:hover,
.button-portfolio:focus,
.button-portfolio:active {
    background-color: var(--accent-color);
    color: var(--secondary-title-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}
.portfolio-title {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.06em;
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.88;;
}
.box {
    width: 100%;
    display: flex;
    list-style:none;
}
.team {
    background: var(--button-background-color);
}

.list {
    list-style:none;
}
